*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orange;
    outline: none;
    border: none;
}

html,body{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(23, 20, 18);
}

.container{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 20px;
padding: 20px;
width: 1000px;
height: 500px;
    border: 2px solid orange;
}

.container__header{
    height: auto;
}

.main{
    flex-grow: 1;
    width: 100%;
gap: 20px;

display: flex;
align-items: flex-start;
justify-content: center;
}

.left{
    width: 35%;
    height: 100%;
    border: 2px solid orange;

display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
}

.left__all-events{
    padding: 20px;
    gap: 20px;
    
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
    width: 100%;
    height: 40%;
}

.left__events{
    height: 100%;
    gap: 20px;
    width: 100%;
    flex-grow: 1; 
display: flex;
align-items:center;
justify-content: space-between;
}

.left__all-events button{
    background-color: rgb(119, 70, 44);
    border: 2px solid orange;
    color: orange;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.add{
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
    
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
    width: 100%;
    border-top: 2px solid orange;

}

input{
    width: 100%;
    padding: 8px;
    background: none;
    border: 2px dashed orange;
    color: orange;
}

input::placeholder{
    color: rgb(162, 106, 0);
}

.add button{
background-color: rgb(119, 70, 44);
    border: 2px solid orange;
    color: orange;
    padding: 10px;
    flex-grow: 1;
}

.right{
    flex-grow: 1;
    height: 100%;
    
display: flex;
align-items:center;
justify-content: center;
flex-direction: column;
    border: 2px solid orange;
padding: 20px;
gap: 20px;
}

.right>div{
    width: 100%;
    height: 70%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img-block{
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid orange;
}

.img-block>h2{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-block>div{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-top: 2px solid orange;

}